$result-background-color: rgb(242, 242, 242);
$result-title-color: rgb(86, 47, 114);
$result-preview-color: rgb(86, 47, 114);
$result-link-color: rgb(201, 212, 4);
$result-border-color: rgb(241, 226, 255);

.result {
  padding: 1rem;
  width: 50%;
  border: 1px solid #336600;
  border-radius: 5px;

  &__title {
    color: $result-title-color;
    font-weight: bold;
  }

  &__preview {
    color: $result-preview-color;
  }

  &__link {
    color: $result-link-color;
    font-size: 13px;
  }
}

.result + .result {
  margin-top: 0rem;
  border-top: none;
}
